.body{
    font-family: "Open sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
}

.page_header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    z-index: 100;
}
.page_header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 222, 222, 0.50);
    @support(backdrop-filter: blur(10px)){
        backdrop-filter: blur(10px);
        background-color: rgba(222, 222, 222, 0.50);
    }
    
}
    

.page_header__nav-link{
    margin-top: 61px;
    margin-right: 50px;
    left: 701px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.5;
    text-decoration: none;
}
.page_header__logo-img{
    position: relative;
    display: block;
    width: 100%;
    margin-right: 237px;
    width: 202px;
    height: 147px;

}
.page_header__nav-button{
    position: static;
    top: 46px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    padding: 15px 40px;
    font-size: 16px;
    border: 1px solid #1f1e1e;
    line-height: normal;
    font-weight: 600px;
    color: #1f1e1e;
}
.page_header__container{
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;

}
.page_header__logo{
    margin-right: 237px;
    margin-top: 61px;
}
.home{
    padding-top: 147px;
}
.main_header__title{
    position:static;
    margin: 0 0 70px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    padding-top:100px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.main_header__picture{
    display: block;
    margin-bottom: 70px;
    position:relative;
    width: 100%;
    align-items: center;
    
}
.main_header__picture::before{
    content:'';
    display: block;
    width: 100%;
    padding-top: 16,9271%;  
}
.picture__img{
 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}